<form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <br>

  <label>
    Email:
    <input type="email" formControlName="email">
  </label>
  <br><br>

  <label>
    Organization Name:
    <input type="text" formControlName="organizationName">
  </label>
  <br><br>

  <fieldset formGroupName="availability">
    <legend>Availability</legend>
    <label><input type="checkbox" formControlName="monday"> Monday</label>
    <label><input type="checkbox" formControlName="tuesday"> Tuesday</label>
    <label><input type="checkbox" formControlName="wednesday"> Wednesday</label>
    <label><input type="checkbox" formControlName="thursday"> Thursday</label>
    <label><input type="checkbox" formControlName="friday"> Friday</label>
  </fieldset>
  <br>

  <fieldset formGroupName="attributes">
    <legend>Attributes</legend>
    <label>
      Class:
      <select formControlName="class">
        <option value="">-- Select --</option>
        <option value="Freshman">Freshman</option>
        <option value="Sophomore">Sophomore</option>
        <option value="Junior">Junior</option>
        <option value="Senior">Senior</option>
      </select>
    </label>
    <br>
    <label>
      Interests:
      <select formControlName="interests" multiple>
        <option value="">-- Select --</option>
        <option value="iOS">iOS</option>
        <option value="Android">Android</option>
        <option value="Web Development">Web Development</option>
        <option value="UI/UX Design">UI/UX Design</option>
        <option value="Machine Learning">Machine Learning</option>
        <option value="Startups">Startups</option>
        <option value="Gaming">Gaming</option>
        <option value="Reading">Reading</option>
        <option value="Music">Music</option>
        <option value="Art">Art</option>
        <option value="Volunteering">Volunteering</option>
        <option value="Cooking">Cooking</option>
        <option value="Travel">Travel</option>
        <option value="Sports">Sports</option>
      </select>
    </label>
  </fieldset>

  <br>
  <button type="submit" [disabled]="submissionForm.invalid">Submit</button>
</form>
