<div class="body">

  <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-12">
        <h1 class="text-center">Welcome to NexTime</h1>
        <p class="text-center">This is your new favorite place to create groups for your organizations</p>
        <br>
        <br>
      </div>
      <div class="col-12 text-center">
        <h4 class="text-center">Add your first organization!</h4>
        <br>
        <!--need to set up route for the popup i think-->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create New Organization
        </button>
        <br>
        <br>
      </div>
    </div>

  </div>
</div>



