/* You can add global styles to this file, and also import other style files */
.body{
  background-color: #E0DCDA !important; /* Light gray background color */

}
.footer{
  background-color: #E0DCDA !important;
}
.btn-primary{
  background-color: #BDCEB7 !important; /* Bootstrap primary color */
  border-color: #BDCEB7 !important; /* Bootstrap primary color */
}
.btn-secondary{
  background-color: #82AC7C !important; /* Bootstrap secondary color */
  border-color: #82AC7C !important; /* Bootstrap secondary color */
}
.btn-success{
  background-color: #54738E !important; /* Bootstrap success color */
  border-color: #54738E !important; /* Bootstrap success color */
}
.btn-danger{
  background-color: #7297A0 !important; /* Bootstrap danger color */
  border-color: #7297A0 !important; /* Bootstrap danger color */
}
.btn-info{
  background-color: #B2A68D !important; /* Bootstrap info color */
  border-color: #B2A68D !important; /* Bootstrap info color */
}
.btn-warning{
  background-color: #A88C7D !important; /* Bootstrap warning color */
  border-color: #A88C7D !important; /* Bootstrap warning color */
}


.border-primary{
  background-color: #BDCEB7 !important; /* Bootstrap primary color */
  border-color: #BDCEB7 !important; /* Bootstrap primary color */
}
.border-secondary{
  background-color: #82AC7C !important; /* Bootstrap secondary color */
  border-color: #82AC7C !important; /* Bootstrap secondary color */
}
.border-success{
  background-color: #54738E !important; /* Bootstrap success color */
  border-color: #54738E !important; /* Bootstrap success color */
}
.border-danger{
  background-color: #7297A0 !important; /* Bootstrap danger color */
  border-color: #7297A0 !important; /* Bootstrap danger color */
}
.border-info{
  background-color: #B2A68D !important; /* Bootstrap info color */
  border-color: #B2A68D !important; /* Bootstrap info color */
}
.border-warning{
  background-color: #78675E !important; /* Bootstrap warning color */
  border-color: #78675E !important; /* Bootstrap warning color */
}

.btn-toggle{
  background-color: #E0DCDA !important; /* Light gray background color */
  border-color: #E0DCDA !important; /* Light gray background color */
}


.navbar-light{
  background-color: #7297A0 !important; /* Bootstrap light color */
}
.modal-content{
  background-color: #E0DCDA !important; /* Light gray background color */
}

.offcanvas{
  background-color: #E0DCDA !important; /* Light gray background color */
}
.offcanvas-body{
  background-color: #E0DCDA !important; /* Light gray background color */
}
.form-control{
  background-color: #E0DCDA !important;
  border-color: #78675E !important;
  border-width: 2px !important;
}
