<div class="body">

  <div class="container-fluid d-flex justify-content-center ">
    <div class="col-3 border rounded m-2 mb-1">
      <div class="row">
        <div class="p-4">
          <h3 class="text-center ">Members</h3>
          <hr />
          <!--loaded in with JS-->
          <div class="p-4 pb-1 pt-1">
            <h4 class="text-left">Member</h4>

            <hr />
          </div>

          <!--loaded in with JS-->
          <div class="p-4 pb-1 pt-1">
            <h4 class="text-left">Member</h4>

            <hr />
          </div>

          <!--loaded in with JS-->
          <div class="p-4 pb-1 pt-1">
            <h4 class="text-left">Member</h4>

            <hr />
          </div>

        </div>
      </div>

    </div>
    <div class="col-7 border rounded m-2">
      <div class="row">
        <div class="p-3">

          <button type="button" class="btn btn-lg btn-primary float-end me-3" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
            <i class="bi bi-plus-circle-dotted "></i>
          </button>
          <button type="button" class="btn btn-lg btn-primary float-end me-3"><!--refresh data-->
            <i class="bi bi-arrow-repeat"></i>
          </button>

        </div>
      </div>

    </div>
  </div>
</div>
